.box-superior {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: flex-start;
}

.description-champion {
  text-align: start;
}

.style-nombre {
  color: #ffa810;
  font-family: 'Montserrat', sans-serif;
  margin-top: 2px;
  margin-right: 0%;
  padding: 8px;
  width: 150px;
  overflow: hidden;
  text-align: center;
}

.style-title {
  text-align: left;
  color: #f5f5f5;
}

.tags-champions {
  border: #ffa810 1px solid;
  border-radius: 6px;
  padding: 7px;
  margin: 10px;
  text-align: center;
  color: #f5f5f5;
  background: linear-gradient(135deg, #ff7e5f, #ffa810, #ffcc70);
}

.style-lore {
  text-align: left;
  color: #ffa810;
}
p {
  text-align: left;
  color: #f5f5f5;
}

.campeon-img {
  margin: 10px;
  max-width: 500px;
  height: auto;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.campeon-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 16px;
  border: 1px solid #ccc;
  border-radius: 12px;
  max-width: 600px;
  margin: 20px auto;
  background-color: #f5f5f5;
}

.details {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 2rem;
  min-height: 100vh;
}

.detail-info {
  max-width: 600px;
  text-align: center;
  line-height: 1.5rem;
}

.detail-info p {
  margin: 0.5rem 0;
}
