<div class="details">
  <div class="box-superior">
    <div *ngIf="champion; else loading">
      <img
        class="campeon-img"
        [src]="
          'https://ddragon.leagueoflegends.com/cdn/img/champion/splash/' +
          champion.id +
          '_' +
          champion.skins[0].num +
          '.jpg'
        "
        [alt]="champion.name"
      />
    </div>
    <div class="description-champion">
      <h1 class="style-nombre">{{ champion.name }}</h1>
      <h3 class="style-title">{{ champion.title }}</h3>
      <div>
        <span *ngFor="let tag of champion.tags" class="tags-champions">{{ tag }}</span>
      </div>
    </div>
  </div>
  <h2 class="style-lore">Lore</h2>
  <p>{{ champion.lore }}</p>
</div>

<!-- Esto me sirve para que aparezca mientras cargan los datos-->
<ng-template #loading>
  <p>Cargando detalles...</p>
</ng-template>
