.app-contenedor {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 20px;
  justify-content: flex-start;
  align-items: flex-end;
  flex-wrap: wrap;
}

.routes {
  flex: 1 1 300px;
  max-width: 400px;
  color: #ffa810;
  text-align: start;
  text-decoration: none;
  font-weight: 700;
  font-size: medium;
}
