.app-contenedor {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 20px;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.routes {
  flex: 1 1 300px;
  max-width: 400px;
  color: aliceblue;
}
