* {
  margin-left: 0;
  margin-top: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: linear-gradient(135deg, #0a1f44, #000000);
}

header {
  width: 100%;
  height: 140px;
  text-align: flex;
  font-family: 'Montserrat', sans-serif;
  color: #ffa810;
  padding: 30px;
  margin-bottom: 20px;
  border-radius: 6px;
  border-bottom: 2px solid #00ffff;
  padding-bottom: 4px;
  background: linear-gradient(135deg, #1e3a8a, #4f46e5, #006b6b);
}

.navegacion {
  text-align: end;
  margin-right: 0%;
  text-decoration: none;
}

main {
  margin: 30px;
  flex: 1;
}

footer {
  color: #ffa810;
  text-align: center;
  background: linear-gradient(135deg, #1e3a8a, #4f46e5, #006b6b);
  padding: 20px;
  width: 100%;
}
