body {
  background: linear-gradient(135deg, #0a1f44, #000000);
  font-family: 'Montserrat', sans-serif;
}

header {
  width: 100%;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: aliceblue;
  padding: 30px;
  border-radius: 6px;
  text-shadow: 0 0 3px rgba(0, 255, 255, 0.8), 0 0 10px rgba(0, 255, 255, 0.6);
  border-bottom: 2px solid #00ffff;
  padding-bottom: 4px;
  background: linear-gradient(135deg, #1e3a8a, #4f46e5, #00ffff);
}
